<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="class form-area">
      <form>
        <div class="class form-group">
          <img src="assets/imagens/utfpr.png" alt="Logo UTFPR" />
          <div class="class form-group">
            <h1>UNIVERSIDADE TECNOLÓGICA FEDERAL DO PARANÁ</h1>
          </div>
          <br />
          <div class="class form-group">
            <h2>Campus: Cornélio Procópio</h2>
          </div>
          <br />
          <div class="class form-group">
            <p>Trabalho submetido a avaliação da matéria: Frameworks Web.</p>
            <p>Responsável: Prof. Dr. Roni Fabio Banaszewski.</p>
          </div>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <div class="botao-wrapper">
            <button class="botao" (click)="cadastrarEntidade()">
              Autoria do Projeto
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
