header {
  background-color: var(--primary);
  padding: 10px;
  color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  a {
    color: inherit;
    text-decoration: none;
  }

  .ativo {
    display: none;
  }

  button {
    background-color: #16d4ff;
    cursor: pointer;
    border: none;
  }
}

main {
  background-color: rgb(202, 240, 248);
}
