<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Doença: {{ dados?.doenca }}</p>
    <p>Forma de contágio: {{ dados?.contagio }}</p>
    <p>Pode levar a óbito: {{ dados?.leva_a_obito }}</p>
    <p>Primeiros socorros: {{ dados?.socorro }}</p>
    <p>Medicamentos administrados: {{ dados?.medicamento }}</p>
    <p>Localidade: {{ dados?.localidade }}</p>
  </body>
</html>
